{% load static %}

<!DOCTYPE html>
<html lang="es" data-theme="academia">
    <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKRLW73W1L"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KKRLW73W1L');
    </script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">


    <!-- ######### SEO ######### -->

    <meta name="description" content="Clases de piano, guitarra, canto, batería, bajo y violín para todas las edades, a un precio accesible y con una metodología de estudio profesional.">
    <meta name="keywords" content="clases de canto guayaquil, clases de musica guayaquil, clases de canto, academia de música, clases de música, clases de musica, curso de guitarra, cursos de piano, clases de music, curso de canto guayaquil, curso de guitarra, curso de canto guayaquil, cursos de canto guayaquil, clases de piano guayaquil, ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="author" content="Sir Bastidas | ESTELARSOFT">



    <meta property="og:type" content="website">
    <meta property="og:title" content="Academia Músical A11">
    <meta property="og:url" content="https://academia-a11.onrender.com">
    <meta property="og:image" content="https://estelar-soft.000webhostapp.com/img/academia_a11/tumbmail.jpg">
    <meta property="og:description" content="Clases de música en Guayaquil, a un precio accesible, una metodología de estudio que se adapta a todos los estudiantes y con un enfoque de estudio profesional.">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Academia Músical A11">
    <meta name="twitter:site" content="@pseudoloki" />
    <meta name="twitter:description" content="Clases de música en Guayaquil, a un precio accesible, una metodología de estudio que se adapta a todos los estudiantes y con un enfoque de estudio profesional.">
    <meta name="twitter:image" content="https://estelar-soft.000webhostapp.com/img/academia_a11/tumbmail.jpg">
    <meta name="twitter:image:alt" content="Logotipo de la academia músical a11">
    
    {% block head %}
    {% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block body %}
    {% endblock body %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>