{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="academia">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link
    rel="stylesheet"
    href="{% static 'css/extras/swiper.min.css' %}"
    />

    <!-- ######### SEO ######### -->

    <!-- <meta name="description" content="Clases de piano, guitarra, canto, batería, bajo y violín para todas las edades, a un precio accesible y con una metodología de estudio profesional.">
    <meta name="keywords" content="clases de canto guayaquil, clases de musica guayaquil, clases de canto, academia de música, clases de música, clases de musica, curso de guitarra, cursos de piano, clases de music, curso de canto guayaquil, curso de guitarra, curso de canto guayaquil, cursos de canto guayaquil, clases de piano guayaquil, ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="author" content="Sir Bastidas | ESTELARSOFT"> -->

    {% block head %}
    {% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block body %}
    {% endblock body %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>