{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}
{% include 'includes/header.html' %}

<!-- Hero Start -->
<div class="hero min-h-screen hero-imagen">
	<div class="hero-overlay bg-opacity-60"></div>
	<div class="hero-content text-center text-neutral-content">
		<div class="max-w-md">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve"
				width="100" height="100" id="svg2" viewBox="0 0 576 412">
				<path
					d="m 202,172 c -26,12 -38,34 -44,62 l -6,-8 c -6,-16 -5,-32 4,-47 7,-11 19,-17 32,-19 10,-2 19,0 27,4 l 3,2 -3,2 z"
					id="path4" inkscape:label="Logo Doc" fill="#F7BE0F" />
				<path id="path1" d="M 529,412 V 261 h -21 v -31 h 65 v 181 z m -69,0 V 261 h -21 v -31 h 64 v 181 z"
					inkscape:label="Logo Eleveen" fill="#F7BE0F" />
				<path
					d="m 219,2 14,2 32,6 c 3,0 4,2 4,5 v 56 l -1,34 1,30 1,6 -7,-2 c -13,-9 -27,-13 -43,-14 -27,-2 -51,6 -73,23 a 80,80 0 0 0 -31,50 c -4,22 1,43 15,61 a 94,94 0 0 0 111,20 c 14,-6 26,-15 36,-26 10,-11 17,-24 19,-39 l 1,-17 V 24 l 11,4 c 18,12 35,25 50,41 a 197,197 0 0 1 52,142 v 199 c -39,-1 -77,-6 -104,-38 l -21,15 c -15,10 -32,16 -49,21 -17,4 -35,3 -52,2 -21,-1 -41,-6 -60,-15 L 91,376 C 83,371 77,365 70,358 L 48,336 A 316,316 0 0 1 12,269 C 7,258 6,246 4,234 L 2,229 A 752,752 0 0 1 5,172 C 7,154 12,138 20,121 27,106 35,91 47,78 57,67 66,56 77,47 91,36 107,26 124,19 145,10 166,3 190,3 l 3,-1 z"
					id="path2" inkscape:label="Logo Base" fill="#F7BE0F" />
			</svg>
			<p class="my-8">La música expresa todo aquello que no puede decirse con palabras y no puede quedar en el
				silencio</p>
			<a class="btn btn-primary" href="#planes">Ver planes</a>
		</div>
	</div>
</div>


<style>
	.hero-imagen {
		background-image: url({% static 'img/hero-1.jpg' %});
	}

	.waves-1 {
		background-image: url({% static 'img/svg/waves-1.svg' %});
		height: 440px;
		background-position: bottom;
	}

	.waves-2 {
		background-image: url({% static 'img/svg/waves-2.svg' %});
		background-position: top;
	}

	.img-1 {
		background-image: url({% static 'img/guitarist-1.jpg' %});
	}

	.img-2 {
		background-image: url({% static 'img/pianist-1.jpg' %});
	}

	.img-3 {
		background-image: url({% static 'img/bassist.jpg' %});
	}

	.img-bg {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 10;
	}

	.img-bg-md {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.img-bg>h1,
	p {
		z-index: 11;
	}

	.fondo {
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.separador {
		line-height: 50px;
	}
</style>


<!-- Hero End -->

	<main class="w-full">

	<section class="w-full my-12">
		<!-- Additional required wrapper -->
		<div class="container mx-auto naiper swiper m-4">
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide h-72 w-72 bg-primary p-6 rounded-3xl relative">
					<h3 class="text-2xl md:text-3xl text-black font-bold">Noticia de ultima hora</h3>
					<p class="text-[18px] text-primary-content"></p>
					<p class="text-gray-600 bottom-8 z-50 absolute font-semibold">La semana pasada</p>
				</div>
			</div>

		</div>
	</section>

	<div class="divider"></div>


	<section class="container flex flex-col justify-center items-center text-center mt-32 mx-auto">
		<h2 class="text-3xl sm:text-4xl md:text-5xl text-primary font-bold">Contamos con una gran variedad de
			instrumentos</h2>
		<ul class="text-2xl sm:text-3xl my-32 separador">
			<li>Piano <span class="icomoon-piano text-primary"></span></li>
			<li>Guitarra <span class="icomoon-guitar-solid text-primary"></span></li></li>
			<li>Canto <span class="icomoon-microphone-solid text-primary"></span></li></li>
			<li>Bateria <span class="icomoon-drum-solid text-primary"></span></li></li>
			<li>Bajo <span class="icomoon-electric-guitar text-primary"></span></li></li>
			<li>Violin <span class="icomoon-violin text-primary"></span></li>
		</ul>
	</section>

	<section class="w-full container mx-auto my-20">
		<div class="grid grid-cols-1 grid-rows-home-images gap-y-16 md:hidden">
			<div class="img-bg img-1 p-6 rounded-3xl shadow-primary-focus shadow-home-images">
				<div class="fondo rounded-3xl absolute"></div>
				<h1 class="text-3xl text-primary font-bold mb-10">Mejora la habilidad motora</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui reiciendis ab mollitia accusantium
					praesentium facilis, pariatur sunt dolor sint, architecto adipisci eaque quam animi esse inventore
					aliquam est minima omnis?</p>
			</div>
			<div class="img-bg img-2 p-6 rounded-3xl shadow-primary-focus shadow-home-images">
				<div class="fondo rounded-3xl absolute"></div>
				<h1 class="text-3xl text-primary font-bold mb-10">Mejora la habilidad motora</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui reiciendis ab mollitia accusantium
					praesentium facilis, pariatur sunt dolor sint, architecto adipisci eaque quam animi esse inventore
					aliquam est minima omnis?</p>
			</div>
			<div class="img-bg img-3 p-6 rounded-3xl shadow-primary-focus shadow-home-images">
				<div class="fondo rounded-3xl absolute"></div>
				<h1 class="text-3xl text-primary font-bold mb-10">Mejora la habilidad motora</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui reiciendis ab mollitia accusantium
					praesentium facilis, pariatur sunt dolor sint, architecto adipisci eaque quam animi esse inventore
					aliquam est minima omnis?</p>
			</div>
		</div>


		<div class="max-md:hidden md:grid md:grid-cols-2 md:grid-rows-home-images gap-y-16 gap-x-4">
			<div class="img-1 w-full h-full img-bg-md rounded-3xl shadow-home-images shadow-primary">
				<div class="fondo rounded-3xl"></div>
			</div>
			<div class="flex flex-col items-center justify-center text-center p-4">
				<h3 class="text-4xl font-bold text-primary mb-6">Esto es una prueba xd</h3>
				<p class="text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione optio et illum
					cum iste, quos officiis obcaecati alias neque saepe sed quia totam quae iusto accusamus delectus
					culpa illo ipsum?</p>
			</div>
			<div class="flex flex-col items-center justify-center text-center p-4">
				<h3 class="text-4xl font-bold text-primary mb-6">Eso tilín dale tilin xd</h3>
				<p class="text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione optio et illum
					cum iste, quos officiis obcaecati alias neque saepe sed quia totam quae iusto accusamus delectus
					culpa illo ipsum?</p>
			</div>
			<div class="img-2 w-full h-full img-bg-md rounded-3xl shadow-home-images shadow-primary">
				<div class="fondo rounded-3xl"></div>
			</div>
			<div class="img-3 w-full h-full img-bg-md rounded-3xl shadow-home-images shadow-primary">
				<div class="fondo rounded-3xl"></div>
			</div>
			<div class="flex flex-col items-center justify-center text-center p-4">
				<h3 class="text-4xl font-bold text-primary mb-6">Recuerda que es el eso tilin 2 xd</h3>
				<p class="text-base">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione optio et illum
					cum iste, quos officiis obcaecati alias neque saepe sed quia totam quae iusto accusamus delectus
					culpa illo ipsum?</p>
			</div>
		</div>


	</section>

	<div class="spacer waves-1"></div>
	<div class="relative w-full">
		<div class="bg-primary w-full h-[1px] absolute top-[-1px]"></div>
	</div>
	<section class="w-full bg-primary h-[100vh] flex justify-center items-center relative">
		<div class="container mx-auto flex flex-col items-center justify-center">
			<h1 class="text-center text-4xl sm:text-5xl md:text-6xl font-bold text-black z-10">¿Que estas esperando para
				aplicar?</h1>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve"
				width="700" height="700" id="svg2" viewBox="0 0 576 412" class="absolute z-0">
				<path
					d="m 202,172 c -26,12 -38,34 -44,62 l -6,-8 c -6,-16 -5,-32 4,-47 7,-11 19,-17 32,-19 10,-2 19,0 27,4 l 3,2 -3,2 z"
					id="path4" inkscape:label="Logo Doc" fill="#deab0d" />
				<path id="path1" d="M 529,412 V 261 h -21 v -31 h 65 v 181 z m -69,0 V 261 h -21 v -31 h 64 v 181 z"
					inkscape:label="Logo Eleveen" fill="#deab0d" />
				<path
					d="m 219,2 14,2 32,6 c 3,0 4,2 4,5 v 56 l -1,34 1,30 1,6 -7,-2 c -13,-9 -27,-13 -43,-14 -27,-2 -51,6 -73,23 a 80,80 0 0 0 -31,50 c -4,22 1,43 15,61 a 94,94 0 0 0 111,20 c 14,-6 26,-15 36,-26 10,-11 17,-24 19,-39 l 1,-17 V 24 l 11,4 c 18,12 35,25 50,41 a 197,197 0 0 1 52,142 v 199 c -39,-1 -77,-6 -104,-38 l -21,15 c -15,10 -32,16 -49,21 -17,4 -35,3 -52,2 -21,-1 -41,-6 -60,-15 L 91,376 C 83,371 77,365 70,358 L 48,336 A 316,316 0 0 1 12,269 C 7,258 6,246 4,234 L 2,229 A 752,752 0 0 1 5,172 C 7,154 12,138 20,121 27,106 35,91 47,78 57,67 66,56 77,47 91,36 107,26 124,19 145,10 166,3 190,3 l 3,-1 z"
					id="path2" inkscape:label="Logo Base" fill="#deab0d" />
			</svg>
			<a class="btn btn-secondary sm:btn-lg mt-10 z-10" href="#planes">Ver planes de estudio</a>
		</div>
	</section>

	<div class="spacer waves-2 h-[160px] sm:h-[210px] md:h-[270px] lg:h-[440px]"></div>

	<section class="planes">

		<div class="container mx-auto min-h-[500px] w-full mt-32 text-center">
			<h2 class="text-4xl sm:text-5xl md:text-6xl font-bold text-primary px-4">Mira nuestros planes de estudio
			</h2>
			<div class="w-full flex flex-wrap justify-center items-center gap-8 my-8 p-4" id="planes">


				<div class="h-min-[400px] w-80 border-primary border-2 rounded-3xl">
					<h3 class="text-3xl p-4 font-semibold relative">Piano</h3>
					<div class="prices">
						<h4 class="text-2xl descuento inline-block">40.00$</h4>
						<h4 class="text-2xl inline-block">15.00$</h4>
					</div>
					<div class="divider"></div>
					<p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem eum
						accusamus, animi libero expedita officiis praesentium laborum magnam delectus perferendis non
						vel eaque quidem esse, eveniet explicabo voluptatum</p>
					<a class="btn btn-secondary my-10" href="#"> El futuro del arte</a>
				</div>

				
			</div>

		</div>
	</section>

	<section class="gallery w-full container mx-auto">
		<div class="swiper naiper-two">
			<div class="swiper-wrapper p-4">
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 1</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 2</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 3</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 4</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 5</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 6</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 7</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 8</div>
				<div class="swiper-slide h-32 w-32 bg-secondary">Slide 9</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>

	<section class="container mx-auto my-32 flex flex-col justify-center items-center">
		<h3 class="text-4xl sm:text-5xl md:text-6xl text-primary font-bold text-center">¿Donde encontrarnos?</h3>
		<div>
			<div class="w-full sm:w-3/4 md:w-8/12 h-96 border-primary border-2 mx-auto my-10" id="map">
				<img src="{% static 'img/mapa.png' %}" alt="mapa de la ubicacion de la academia"
					class="object-cover w-full h-full">
			</div>
			<div class="w-full text-center my-16">
				<p class="mb-8 px-4 sm:px-8 md:px-32 lg:px-96 text-2xl">Av. Siempre viva al frente del wiki mark en
					nigeria, y john cena bailando en la playa de hawaiiAv. Siempre viva al frente del wiki mark en
					nigeria, y john cena bailando en la playa de hawaii.</p>
				<span class="font-semibold text-primary text-2xl">+593 98 314 7368</span>
			</div>
		</div>
		<div class="text-4xl sm:text-5xl text-primary flex justify-around mx-auto w-full md:w-8/12">
			<a class="icomoon-instagram" href="#"></a>
			<a class="icomoon-whatsapp" href="#"></a>
			<a class="icomoon-tiktok" href="#"></a>
			<a class="icomoon-facebook" href="#"></a>
		</div>
	</section>
</main>
<footer
	class="w-full flex justify-center items-center h-32 bg-primary-focus text-primary-content/30 font-semibold text-3xl">
	<h3>Academia musical a11 <span class="nf nf-fa-copyright"></span></h3>
</footer>


{% endblock body %}