{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Gallery{% endblock title %}
{% block body %}

{% include 'includes/header.html' %}

<main class="container mx-auto pt-32">
    <div id="gallery" class="w-full py-4 flex flex-wrap gap-2 justify-center min-h-screen">
        {% for img in imagenes %}
            <a class="w-full sms:w-72" href="{% url 'gallery:image_detail' img.pk %}">
                <img src="{{img.image.url}}" alt="img.titulo" class="object-cover border-primary border-2">
            </a>
        {% empty %}

        <div class="w-full h-screen flex justify-center items-center">
            <h1 class="text-4xl">No hay imagenes disponibles</h1>
        </div>

        {% endfor %}

    </div>
</main>

{% include 'includes/footer.html' %}
{% endblock body %}


{% block scripts %}
<script src="{% static 'js/gallery.js' %}" type="module"></script>
{% endblock scripts %}

</body>

</html>